@model SemesterProjectManager.Web.ViewModels.CreateSubjectInputModel

@{
    ViewData["Title"] = "Edit";
}

@{
    var teachersSelectListItems = Model.Teachers
        .Select(x => new SelectListItem
        {
            Text = x.Value.ToString(),
            Value = x.Key.ToString()
        });
}

<div class="container mb-100">
    <h1>Edit</h1>
    <h4>Subject</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<label asp-for="Name" class="control-label"></label>*@
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<label asp-for="Name" class="control-label"></label>*@
                            <textarea asp-for="Description" rows="5" class="form-control" placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @*<label asp-for="TeacherId" class="control-label"></label>*@
                            <select class="form-control" asp-for="TeacherId"
                                    asp-items="teachersSelectListItems">
                                <option value="">Select</option>
                            </select>
                            <span class="form-text" asp-validation-for="TeacherId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pt-30 pb-10">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input type="submit" value="Save" class="main-btn" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Subjects" asp-action="All">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
